<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置User对象创建-->
    <bean id="user" class="com.spongebob.service.impl.UserImpl"></bean>



    <bean id="UserServiceImpl" class="com.spongebob.aop.UserServiceImpl"></bean>
    <bean id="TransactionManager" class="com.spongebob.aop.TransactionManagerHandler"></bean>
    <aop:config>
        <aop:aspect ref="TransactionManager">
            <aop:pointcut id="insert_pointcut" expression="execution(public void com.spongebob.aop.UserServiceImpl.insert())"/>
            <aop:before method="begin" pointcut-ref="insert_pointcut"/>
            <aop:after-returning method="commit" pointcut-ref="insert_pointcut"/>
            <aop:after-throwing method="rollback" pointcut-ref="insert_pointcut"/>
            <aop:after method="closeSession" pointcut-ref="insert_pointcut"/>
        </aop:aspect>
    </aop:config>
</beans>
